# 10989. 수 정렬하기 3

https://www.acmicpc.net/problem/10989

### 문제  
N개의 수가 주어졌을 때, 이를 오름차순으로 정렬하는 프로그램을 작성하시오.

### 입력
첫째 줄에 수의 개수 N(1 ≤ N ≤ 10,000,000)이 주어진다. 둘째 줄부터 N개의 줄에는 수가 주어진다. 이 수는 10,000보다 작거나 같은 자연수이다.

### 출력
첫째 줄부터 N개의 줄에 오름차순으로 정렬한 결과를 한 줄에 하나씩 출력한다.

-------------------------------------------------

# 풀이

In [ ]:
import sys

N = int(input())

check_list = [0] * 10001

for i in range(N):
    input_num = int(input())
    check_list[input_num] = check_list[input_num] + 1

for i in range(10001):
    if check_list[i] != 0:
        for j in range(check_list[i]):
            print(i)

10
5
2
3
1
4
2
3
5
1
7
1
1
2
2
3
3
4
5
5
7