# 3009. 네 번째 점

https://www.acmicpc.net/problem/3009

### 문제  
세 점이 주어졌을 때, 축에 평행한 직사각형을 만들기 위해서 필요한 네 번째 점을 찾는 프로그램을 작성하시오.

### 입력
세 점의 좌표가 한 줄에 하나씩 주어진다. 좌표는 1보다 크거나 같고, 1000보다 작거나 같은 정수이다.

### 출력  
직사각형의 네 번째 점의 좌표를 출력한다.

-------------------------------------------------

# 풀이

일단 (x,y)를 전부 입력후에, 좌표값들 중 없는 값을 넣는 식으로 풀었다.

In [6]:
# 백준 3009번 문제는 세 점의 좌표가 주어졌을 때, 직사각형을 이루는 네 번째 점의 좌표를 찾는 문제입니다.

# 첫 번째 점의 좌표를 입력받습니다.
a_1, b_1 = map(int, input().split())
# 두 번째 점의 좌표를 입력받습니다.
a_2, b_2 = map(int, input().split())
# 세 번째 점의 좌표를 입력받습니다.
a_3, b_3 = map(int, input().split())

# 세 점 중에 한 점만 다른 값을 찾아주는 함수를 정의합니다.
def find_different_number(num1, num2, num3):
    if num1 != num2 and num1 != num3:  # 첫 번째 숫자가 두 번째와 세 번째와 다른 경우
        return num1
    elif num2 != num1 and num2 != num3:  # 두 번째 숫자가 첫 번째와 세 번째와 다른 경우
        return num2
    else:  # 세 번째 숫자가 첫 번째와 두 번째와 다른 경우
        return num3

# 네 번째 점의 x좌표를 구합니다.
A = find_different_number(a_1, a_2, a_3)
# 네 번째 점의 y좌표를 구합니다.
B = find_different_number(b_1, b_2, b_3)

# 구한 네 번째 점의 좌표를 출력합니다.
print(A, B)

30 20
10 10
10 20
30 10

내 풀이가 너무 길어서 본 다른 코딩   
생각보다 이번 내 풀이 나쁘지 않았을지도..?

In [ ]:
x_points = []
y_points = []

for _ in range(3):
    x, y = map(int, input().split())
    x_points.append(x)
    y_points.append(y)

for i in range(3):
    if x_points.count(x_points[i]) == 1:
        x4 = x_points[i]
    if y_points.count(y_points[i]) == 1:
        y4 = y_points[i]

print(x4, y4)